@import url('https://fonts.googleapis.com/css?family=Kumar+One+Outline');
.lab {
  font-weight: bold;
  display: inline-block;
  height: 100%;
  min-height: 300px;
  width: 100%;
  min-width: inherit;
  background-color: rgba(255,255,255, 0.5);
  position: relative;
  border-radius: 5px;
}
a {
  text-decoration: underline;
  color: white;
}

.favorites {
  position: absolute;
  float: left;
  width: 20%;
  height: 100%;
  min-height: inherit;
  border: 1px solid #ccc;
  letter-spacing: normal;
  background-color: rgba(211,211,211, 0.3);
  text-align: center;
  color: white;
  border-radius: 5px;
  line-height: 50px;
}
.fav2 {
  float: left;
  width: 20%;
  height: 100%;
  min-height: inherit;
  border: 1px solid #ccc;
  letter-spacing: normal;
  background-color: lightgrey;
  text-align: center;
  color: white;
  border-radius: 5px;
  line-height: 50px;
  display: inline-block;
  opacity: 0;
}
.weath {
  display: inline-block;
  width: auto;
  color: white;
  line-height: normal;
  text-align: left;

}

.tempSpan {
  display: inline-block;
  font-size: 70px;
}
.skySpan {
  font-size: 20px;
  display: inline-block;
}
.nameSpan {
  font-size: 30px;
  display: block;
}

.event {
  display: inline-block;
  position: absolute;
  left: 5px;
  color: white;

}
.hidden {
  display: none;
}
.name {
  color: white;

}
.title {
  text-align: center;
  color: white;
  font-family: 'Kumar One Outline', cursive;
}
.decription {
  text-align: left;
  color: white;
  font-size: 10px;
}
.decription::before {
  content: "*"
}
