<div class="main">
  <div class="container">
    <header >
      <h1 class="title">Weather App</h1>
      <h3 class="decription">Description: This app working with OpenWeather API data and build on Angular 4. Created by
        <a href="mailto:korobokvk@gmail.com">Maksym Zakshevskiy</a></h3>
    </header>

    <div [hidden]="onError" class="row">
      <div class="lab" *ngFor="let item of weather">
        <div class="fav2"></div>
        <div [@visibilityChanged]='hide' class="favorites" >Favorites City
          <div *ngFor="let items of cityHash" >
            <span >{{items}}</span>

          <!--<div *ngFor="let i of citiesItem">-->
            <!--<span>{{i.main.temp}} C</span>-->
            <!--<span>{{i.weather[0].main}}</span>-->
          <!--</div>-->
        </div>
        </div>
        <div class="event" ><i (click)="hide = !hide" [ngClass]="{'fa-arrow-right': !hide, 'fa-arrow-left': hide}" class="fa" aria-hidden="true"></i></div>

        <div>Local Weather</div>
      <div  [hidden]="!onError" class="alert alert-danger">I don't now where are you. You are hiding from me? :(</div>

        <div class="name text-white col-sm-4 col-xs-4 col-md-4">
          <span class="tempSpan">{{item.main.temp}}°C</span><br>
          <span class="nameSpan">{{item.name}} </span>
          <span class="skySpan">{{item.weather[0].main}} <img class="image" src="http://openweathermap.org/img/w/{{item.weather[0].icon}}.png" alt=""></span>
        </div>
        <app-search (countUpdate)="getVal($event)"></app-search>
      </div>
    </div>
    </div>
  </div>

