.deleteItem { display: none }
form {
  display: inline-block;
  float: left;

}
input {
  display: inline-block;
}
button {
  display: inline-block;
}
table {
  display: inline-block;
  float: none;
  width: auto;
}
th {
  padding-right: 50px;
  padding-top: 20px;
  color: white;
}
td {
  color: white;
}
